footer {
	height: 50px;
	background-color: #E7E7E7;
}

h6 {
	text-align: left;
	font-size: 16px;
	line-height: 50px;
	vertical-align: middle;
	padding-left: 10px;
}

.twitter-button {
	float: right;
	line-height: 50px;
	vertical-align: middle;
}

#fb-root {
	float: right;
}